body {
	background-color: black;
	color: white;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 4em;
	text-transform: uppercase;
	text-decoration: underline;
}

.ok {
	color: green;
}

.not_ok {
	color: red;
}

.status_unknown {
	color: yellow;
}

#main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#start_game_form {
	
}

#start_game_form div.option {
	float: left;
	text-align: center;
}

#new_game, #join_game {
	width: 35%;
}

#or {
	font-size: 3em;
	width: 30%;
	padding-top: 1em;
}

#start_game_form_button {
	width: 100%;
	clear:both;
	padding-top: 4em;
	text-align: center;
}

#start_game_form_button input {
	font-size: 1.2em;
}

#game {
	display: none;
}

#lounge {
	float: left;
	width: 640px;
}

#playerlist {
	float: left;
	display: none;
}

#multiplayer_conf, #singleplayer_conf {
	display: none;
}